  h2{
         text-align:left;
         background-color:#A63D40;
         }
    
      footer{
             text-align:center;
         }
         
         img{
              float: none;
            
         }
       
         body{
             background-color:#90A959;
             text-align: center;
             
         }
         
       
         
         hr{
            text-align:right; 
         }
          footer {
                text-align: center; 
                color:red;
                background-color:#6494AA;
            }
        h1{
            color:#151515;
        }
